<header class="header">
  <a class="title" [routerLink]="['/']">{{ title }}</a>

  @if(loginDisplay) {
    <nav class="navigation">
      <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Home</a>
      <a [routerLink]="['profile']" routerLinkActive="active" class="nav-link">Profile</a>
    </nav>
  }

  <div class="auth-buttons">
    @if (!loginDisplay) {
      <button class="login-redirect" (click)="loginRedirect()">
        Login using Redirect
      </button>
      <button class="login-popup" (click)="loginPopup()">
        Login using Popup
      </button>
    }
    @if(loginDisplay) {
      <button class="logout" (click)="logout(true)">Logout</button>
    }
  </div>
</header>

<main class="container">
  @if (!isIframe) {
    <router-outlet></router-outlet>
  }
</main>
